* {
    font-family: 'Oswald', sans-serif;
}
a {
    color: black;
    text-decoration: none;
}
/*~~~~~~~~~~ END OF GENERAL HEADER ~~~~~~~~~~*/

.generalHeader .headerlogo {
    text-align: center;
}

.generalHeader .headerlogo img {
    transition: 1s;
}

.generalHeader figure img:hover {
    transition: 1s;
    border-radius: 100%;
}

/*~~~~~~~~~~ END OF GENERAL HEADER ~~~~~~~~~~*/



.generalAside nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    margin-top: 3em;
}

.generalAside nav ul li {
    text-align: center;
    background-color: #66CDAA;
    margin: 5px;
    width: 15%;
    font-size: .8em;
    border-radius: 5px;
    list-style-type: none;
    height: 25px;

}

.generalAside nav ul li a {
    margin: 0;
    padding: 0;
    height: 100%;
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.generalAside nav ul li a p {
    margin: 0;
    padding: 0;
    height: 100%;
}

.generalAside nav ul li:hover {
    background-color: #B5B6B0;
}


/*END OF ASIDE*/

h1 {
  text-align: center;
}

section {
  background-color: #66CDAA;
}

label {
  font-size: 25px;
}

form {
  text-align: center;
}

.conteneurST {
  overflow: hidden;
}

.colpST {
  width: 50%;
  float: left;
  display: inline;
}

.envoyer {
  font-size: 20px;
}

iframe {
  height: 400px;
  width : 100%;
}
/*START OF FOOTER*/

.generalFooter {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #66CDAA;
    height: 75px;
}

.generalFooter p {
    background-color: #66CDAA;
    text-align: center;
    margin: auto 30px;
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 100%
}

.generalFooter .fa {
    font-size: 30px;
    padding: 5px;
}

.generalFooter p:hover {
    background-color: #B5B6B0;;
}
/*END OF FOOTER*/
